info:

  application:
    environment: local
    baseUrl: http://localhost:{{.ServerPort}}

spring:
{{if eq .EnableJPA true}}
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/{{.ServerPort}}?UseUnicode=true&characterEncoding=utf8
    username: ''
    password: ''

  jpa:
    formatSql: true
{{end}}

server:
  port: {{.ServerPort}}
