/config/log4j2-local.yml
target
src/main/webapp/libs/
*.log
*.log.*
*~
.gradle/
build-cache/

# Intellij IDEA
.idea
*.iml

# Eclipse IDE
.classpath
.project
.settings/

# Sass
.sass-cache

/build/
/bin/
out/

config/application-local.yml

# Search
_*.fdt
_*.fdx
_*.nvd
_*.nvm
_*.si
_*.doc
_*.pos
_*.tim
_*.tip
_*.fnm
_*.cfe
_*.cfs
segments.*
segments_*
lucene/

.DS_Store
