http://start.spring.io/starter.zip?type={{.BuildTool}}&language={{.Language}}&bootVersion={{.SpringBootVersion}}&baseDir={{.Name}}&groupId={{.Group}}&artifactId={{.Name}}&name={{.Name}}&description={{.Description}}&packaging=jar&javaVersion={{.JavaSourceCompatibility}}